<%- include("partials/header") %>
<div>
	<h4 style="color: red">Map Of Covid-19 All Over The World</h4>
</div>
<div class="row">
	<div class="col-md-6 col-sm-auto">
		
		<iframe width="1024" height="576" src="https://app.developer.here.com/coronavirus/" frameborder="0"></iframe>
	</div>

</div>


<%- include("partials/footer") %>
